name: custom_fields
description: A new Flutter package project.
version: 0.0.1

publish_to: none

environment:
  sdk: ^3.9.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  equatable: ^2.0.5
  intl: any
  logging: ^1.1.1
  locale_plus: ^1.5.0
  collection: ^1.17.2
  padrao:
    path: '../padrao'
  material_design_icons_flutter: ^7.0.7296

flutter:
  uses-material-design: true
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
