name: arquivos
description: A dart package that wrapps some functionalities on PDF files.
version: 0.0.1

publish_to: none

resolution: workspace
environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  collection: ^1.16.0
  equatable: ^2.0.5
  path_provider: ^2.0.11
  pdf: ^3.8.4
  printing: ^5.9.3
  xml: ^6.1.0
  cross_file: ^0.3.4+1
  cross_file_image: ^1.1.0
  padrao:
    path: ../padrao

flutter:
  uses-material-design: true
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
