name: example
description: A new Flutter project.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  collection: ^1.17.2
  flutter:
    sdk: flutter
  graficos:
    path: ../
  intl: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: any

flutter:
  uses-material-design: true
